<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/database">Database</a></li>
        </ul>
    </nav>
</header>