<main>
    <h1>Movies and actors</h1>
    <div class="movieSearchBox">
        <input id="movieSearch" type="text" placeholder="Search for movie" />

    </div>
    <div class="actorSearchBox">
        <input id="actorSearch" type="text" placeholder="Search for actor" />
    </div>
</main>